@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #3c5df0;
  --primary-light: #d0d8fb;
  --text: #4c4c4c;
  --text-secondary: #a8a8a8;
}

body {
  background-color: #ffffff;
}

@layer base {
  h1 {
    @apply text-4xl font-semibold;
  }
  h2 {
    @apply text-xl font-semibold;
  }
  h3 {
    @apply text-lg font-medium;
  }
  p {
    @apply text-sm font-normal;
  }
}
