@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F1DE;
}
.custom-transform {
  transform: perspective(5px) rotateX(1deg);
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
